.App {
  margin: auto;
  max-width: 990px;
  font-family: 'Montserrat', sans-serif;
}
section{
  border-bottom: 1px solid black;
}
.header-section{
  text-align: center;
  border-bottom: 2px solid black;
  text-transform: uppercase;
}
p{
  font-size: 0.9em;
  line-height: 1.6em;
  letter-spacing: .06em;
}